@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


:root{
    --azul:#09579e;
    --azul-opaco:#0E0F27;
    --verde-claro:#8bbc3a;
    --verde-oscuro:#16a14f;
    --blanco:#ffffff;
    --letra:'Oswald', sans-serif ;
}


*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
    /* background-color: #f6f6f6; */
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23E8E8E8'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f4f4f4'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    max-width: 3840px;
    margin: auto;
}


body::-webkit-scrollbar{
    width: 15px;
    background-color:var(--blanco);
  
  }
  
  body::-webkit-scrollbar-thumb{
    background: var(--azul);
    
  }
  
  body::-webkit-scrollbar:hover{
    background-color:var(--blanco);
  }

header{
    width: 100%; 
    /* height: 140px;   */
    
}

nav.scroll {
    background-color: var(--blanco); /* Cambiar el color de fondo cuando la barra de navegación hace scroll */
    position: fixed;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
  }

  
  nav.scroll .navbarDigital{
    width: 300px;
    display: block;
    
}

nav.scroll .navbarCcs{
    width: 150px; 
    display: block;
    
}


nav.scroll .navbarDigital1{
    width: 300px;
    display: none;
}

nav.scroll .navbarCcs1{
    width: 150px;
    display: none;
}


.navbar {

    background-color:  transparent;
    padding: 5px;
    width: 100%;
    margin-bottom: 0px;
    padding: 20px;
    position: absolute;
    top: 0px;
    z-index: 9999;
    max-width: 3840px;

}

.navbar  .centrar{
    display: flex ; 
    place-content: center ;
    justify-content: space-between;
}


.navbarDigital{
    width: 300px;
    display: none;
}

.navbarCcs{
    width: 150px; 
    display: none;
}


.navbarDigital1{
    width: 300px;
    display: block;
}

.navbarCcs1{
    width: 150px;
    display: block;
}

nav.scroll .pdf{
  display: block;
  background-color: var(--azul);
  padding: 10px;
  text-decoration: none;
  font-family: var(--letra);
  color: var(--blanco);
  font-size: 1.1rem;
  border-radius: 5px;
  display: flex ;
  place-content: center;
  place-items: center;
  gap: 10px;
}

.pdf ion-icon{
  font-size: 1.4rem;
  margin: 5px  ;
}

.navbar .pdf{
  display: none;
}


/* INICIO */

main{
    width: 100%;

}

.inicio{
    padding: 230px  0px;
    height: auto;
    background-image: url(../BodyInicio/Formacion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
}

.inicio::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #0e0f27e2;
   
}


/* FORMULARIO */
.inicioCajaForm{
    padding: 20px;
    z-index: 1;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
  }
  
  .title {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--letra);
    text-align: center;
    color: var(--azul-opaco);
    margin-bottom: 30px;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;    
    gap: 5px;
    justify-content: space-between;
    
  }
  
  .group {
    position: relative;
    flex-basis: 48%;
  }

  .group-full {
    position: relative;
    flex-basis: 100%;
  }
  
  .form .group label,
  .form .group-full label {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--letra);
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group select,
  .form .group-full input,
  .form .group-full select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--letra);
    color: var(--azul-opaco);
    width: 100%;
  }
  
  .form .group input:placeholder-shown+ label, .form .group select:placeholder-shown +label,
  .form .group-full input:placeholder-shown+ label, .form .group-full select:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group select:focus,
  .form .group-full input:focus,
  .form .group-full select:focus  {
    border-color: var(--azul);
    outline: none;
  }

  .form .group select option,
  .form .group-full select option  {
    
    border-color: var(--azul);
    background-color: #0e0f27b5;
    color: var(--blanco);
    font-size: 1.2rem;
  }
  
  .form .group input:focus+ label, .form .group select:focus +label,
  .form .group-full input:focus+ label, .form .group-full select:focus +label  {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  
  .form button {
    background-color: var(--azul);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--letra);
    color: var(--blanco);
  }
  
  .form button:hover {
    background-color: var(--azul-opaco);
  }

  .politica{
    width: 100%;
    display: flex;
    gap: 20px;
    place-content: center;
    place-items: center;
    margin: 10px auto;
  }

  .politica input[type=checkbox] {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .politica p{
    text-align: justify;
    font-family: var(--letra);
    font-size: 1rem;
    font-weight: 400;
    color: var(--azul-opaco);
  }

  .politica p strong{
    font-weight: 800;
    color: var(--azul);
  }

  /* INICIOTXT */

    .inicioCajaTxt{
      z-index: 1;
      padding: 20px;
      display: flex;
      flex-direction:column;
      place-content: center;
      gap: 10px;
    }

    .inicioCajaTxt h4{
      color: var(--blanco);
      background-color: var(--azul);
      font-family: var(--letra);
      font-size: 1.3rem;
      font-weight: 400;
      padding: 10px;
      width: max-content;
      
    }

    .inicioCajaTxt h2{
      color: var(--azul);
      font-family: var(--letra);
      font-size: 3rem;
      font-weight: 800;
    }
    

    .inicioCajaTxt p{
      color: var(--blanco);
      font-family: var(--letra);
      font-size: 1.5rem;
      font-weight: 200;
    }

    .inicioCajaTxt .redes{
      width: 100%;
      display: flex;
      gap: 30px;
      place-items: center;
    }

    .inicioCajaTxt a ion-icon{
      color: var(--blanco);
      font-family: var(--letra);
      font-size: 2.5rem;
      font-weight: 200;
      text-align:left ;
      transition: 0.2s ease-in-out;
    }

    .inicioCajaTxt a ion-icon:hover{
      transform: scale(1.2);
    }

    .inicioCajaTxt a:nth-child(1) ion-icon:hover{
      color: #203673;
    }
    
    .inicioCajaTxt a:nth-child(2) ion-icon:hover{
      color: #ae2616;
    }
    
    .inicioCajaTxt a:nth-child(3) ion-icon:hover{
      color: #dc1c70;
    }
    
    .inicioCajaTxt a:nth-child(4) ion-icon:hover{
      color: #f10404;
    }


  /* SECCION1 */

  .Seccion1 {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23E8E8E8'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23f4f4f4'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding:50px 0px 0px 0px ;
    clip-path: ellipse(100% 100% at 50% 100%);
    width: 100%;
    transform: translateY(-100px);
    z-index: 2;
       
  }

  .Seccion1Centro{
    padding-bottom: 20px;
    border-bottom:2px solid rgb(187, 187, 187);
  }

  .Seccion1Txt{
    margin: 30px auto;
  }

  .Seccion1Txt p{
    text-align: center;
    font-family: var(--letra);
    color: var(--azul);
    font-size: 1.1rem;
    font-weight: 400;
  }
  .Seccion1Txt h2{
    text-align: center;
    font-family: var(--letra);
    color: var(--azul-opaco);
    font-size: 2.3rem;
    font-weight: 800;
  }

  .Seccion1Caja{
    padding: 10px;
    margin: 20px auto 0px auto;


  }

  .Seccion1Caja .caja{
    border-radius: 5px;
    background-color: var(--blanco);
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.348);
    height: 100%;
  }

  .Seccion1Caja .caja ion-icon{

    color: var(--blanco);
    background-color: var(--azul);
    padding: 10px;
    font-size: 2rem;
    border-radius: 3px;
  }


  .Seccion1Caja .caja h3{
    text-align: center;
    font-family: var(--letra);
    color: var(--azul-opaco);
    font-size: 1.8rem;
    font-weight: 600;
  }

  .Seccion1Caja .caja p{
    text-align: center;
    font-family: var(--letra);
    color: var(--azul);
    font-size: 1.1rem;
    font-weight: 400;
  }

  .Seccion1Caja .caja h5{
    text-align: center;
    font-family: var(--letra);
    color: var(--azul-opaco);
    font-size: 1.5rem;
    font-weight: 400;
  }

  .Seccion1Caja .caja h5 strong{
    color: var(--azul);
    font-weight: 600;
  }

  /* SECCION3 */
  .Seccion3{
    position: relative;
    margin: 50px auto;
    height: auto;
    background-image: url("../BodyCursos/2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.808);
  }

  .Seccion3::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #0e0f27e2;
  }
  
  .Seccion3 .row{
    position: relative;
    height: 100%;
    z-index: 1;
  }
  
  .Seccion3 .Seccion3Txt{
    height: auto;
    display: flex;
    place-content: center;
    place-items:initial;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    padding: 50px 100px;
  }
  
  .Seccion3 .Seccion3Txt h3{
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 200;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
  }
  
  
  .Seccion3 .Seccion3Txt h3 img{
  width: 50px;
  margin: auto 10px;
  }
  
  
  .Seccion3 .Seccion3Txt h1{
    font-family: var(--letra);
    color: var(--azul);
    font-weight: 800;
    font-size: 3rem;
    text-align: left;
    width: 100%;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
    font-weight: 400;
  }
  
  .Seccion3 .Seccion3Txt p{
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 200;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
  }
  
  


  .Seccion3 .Seccion3Img{
    background-image:url("../BodyInicio/Formacion.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
    margin: 40px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 20px auto ;
    padding: 50px 0px;

  }

  .seccion4Centro{
    border-bottom: 2px solid rgb(182, 182, 182);
    border-top: 2px solid rgb(182, 182, 182);
    height: auto;
    padding: 20px;
  }



  .seccion4Txt h1 {
    font-family: var(--letra);
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--azul-opaco);
    text-align: center;
  }

  .seccion4Txt p {
    font-family: var(--letra);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--azul);
    text-align: center;
  }

  .seccion4ImgCaja{
    background-color: var(--blanco);
    padding: 30px;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;

  }

  .seccion4ImgCaja h2{
    font-family: var(--letra);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--azul-opaco);
    text-align: center;
  }

  .seccion4ImgCaja p{
    font-family: var(--letra);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--azul);
    text-align: center;
  }

  .seccion4ImgCaja  li{
    font-family: var(--letra);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--azul);
    text-align: center;
  }


  .seccion4Img{
    margin: 20px auto;
  }

  .seccion4Img .img{
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .seccion4Img .img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

  /* SECCION5 */

  .Seccion5{
    position: relative;
    margin: 50px auto;
    height: auto;
    background-image: url("../BodyCursos/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.808);
  }

  .Seccion5::after{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #0e0f27e2;
  }
  
  .Seccion5 .row{
    position: relative;
    height: 100%;
    z-index: 1;
  }
  
  .Seccion5 .Seccion5Txt{
    height: auto;
    display: flex;
    place-content: center;
    place-items:initial;
    flex-direction: column;
    gap: 20px;
    background: transparent;
    padding: 50px 100px;
  }
  
  .Seccion5 .Seccion5Txt h3{
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 200;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
  }
  
  
  .Seccion5 .Seccion5Txt h3 img{
  width: 50px;
  margin: auto 10px;
  }
  
  
  .Seccion5 .Seccion5Txt ul {
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 200;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
  }

  .Seccion5 .Seccion5Txt ul strong{
    color: var(--azul);
    background-color: var(--blanco);
    font-weight: 600;
    padding: 0px 5px;
    border-radius: 5px;
  }

  .Seccion5 .Seccion5Txt ul li{
    margin: 5px auto;
  }
  
  .Seccion5Txt .caja{
    padding: 0px;
  }


  .Seccion5Txt .caja ul{
    background-color: var(--azul) ;
    padding: 30px 50px;
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 200;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin: 0px;
    list-style: none;
  }


  .Seccion5 .Seccion5Img{
    background-image:url("../BodyCifras/Formacion2.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 40px auto;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
  }

  .Seccion5Tit h1{
    font-family: var(--letra);
    color: var(--blanco);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    margin: 20px auto;
  }
  
  
/* RUTA */

.ruta {
  margin: 80px auto;
  position: relative;
  padding: 10px;
  width: 80%;

}

.ruta h1 {
  font-family: var(--letra);
  color: var(--azul-opaco);
  font-size: 3rem;
  margin: auto ;
  text-align: center;
  margin: 15px auto;
  padding: 0px 0px 20px 0px;
  border-bottom:2px solid rgb(187, 187, 187);
}

.rutacentro{
  padding: 20px;
  margin: 0px;
}

.padin{
  padding: 10px;
}

.barra {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: lightgray;
  border-radius: 5px;
  display: block;
}

.progreso {
  height: 100%;
  background-color: var(--azul);
  width:  0%;
  transition: width 0.5s ease-in-out;
  border-radius: 5px;
}

.barra1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: lightgray;
  border-radius: 5px;
  display: none;
}

.progreso1 {
  height: 0%;
  background-color: var(--azul);
  width:  100%;
  transition: width 0.5s ease-in-out;
  border-radius: 5px;
}

.modulo{
  cursor: pointer;
  padding: 10px;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  gap: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
  border-radius: 10px;
}

.modulo h3{
  display: flex;
  place-content: center;
  place-items: center;
  color: var(--azul-opaco);
  font-family: var(--letra);
  font-weight: 600;
  font-size: 1.5rem;
}

.modulo h3 ion-icon{
  font-size: 1.8rem;
}

.modulo p{
display: none;
}

.modulo .rutaimg{
  display: none;
  }

.padin .completado {
  background-color: var(--azul-opaco) ;
  transition:0.5s ease-in-out;
}


.padin .completado p{
  display: block;
  color: var(--blanco);
  font-family: var(--letra);
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center ;
}

.padin .completado h3{

  color: var(--blanco);
}


.informacion{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  place-content: center;
  place-items: center;
}

.informacion .info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-content: center;
  place-items: center;
  text-align: center;
}

.informacion .info ion-icon{

  color: var(--blanco);
  padding: 20px;
  font-size: 4rem;
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--azul);
  z-index: 1;
  display: flex;
  place-content: center;
  place-items: center;
}

.informacion .info ion-icon::after{
  content: "";
  width: 90%;
  height: 90%;
  background-color:var(--azul);
  position: absolute;
  z-index: -1;
  border-radius: 50%

}

.informacion .info h2{
  font-family: var(--letra);
  color: var(--azul-opaco);
  font-size: 1.6rem;
  font-weight: 600;
}

.centrar1{
  display: flex;
  place-content: center;
  place-items: center;
}

.centrar2{
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  padding: 10px 0px 0px 0px;
}


/* INSTRUCTORES */

.instructores{
  margin: 80px auto ;
  border-bottom:2px solid rgb(187, 187, 187); 
  border-top:2px solid rgb(187, 187, 187);
  padding: 20px;
  width: 80%;
}

.cajaInstru{
  padding: 30px;
}

.cajaInstru .imagenes{
  padding: 20px;
  height: 350px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  gap: 5px;
}


.cajaInstru .imagenes::after{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #0e0f27ab;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.cajaInstru .imagenes:hover::after{
  width: 100%;
}


.cajaInstru .imagenes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.cajaInstru .imagenes:hover img{
  filter: grayscale(1) blur(2px);
  transition-property: filter;
  transition-duration: 1s; 

}

.cajaInstru .imagenes h2{
  opacity: 0;
  font-family: var(--letra);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blanco);
  background-color: var(--azul);
  padding: 5px;
  border-radius: 5px;

}

.cajaInstru .imagenes p{
  opacity: 0;
  font-family: var(--letra);
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--blanco);
  text-align: center;
}


.cajaInstru .imagenes:hover h2{
  opacity: 1;
  z-index: 4;
  position: relative;
  transition: 0.8s ease-in-out;
}

.cajaInstru .imagenes:hover p{
  opacity: 1;
  z-index: 4;
  position: relative;
  transition: 0.8s ease-in-out;
}

.instil {
  margin: 20px auto;
}

.instil h2{
  font-family: var(--letra);
  font-size: 3rem;
  font-weight: 600;
  color: var(--azul);
  text-align: center;
}

/* EXPERIENCIA */

.experiencia{
  margin: 100px auto 0px auto;
  clip-path: ellipse(100% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 100px 0px;
}


.experiencia .container .row{
  margin: 0px;
}

.contenedor-cifras{
  margin: 0px;
}

.contenedor-cifras .cifras h2{
  color: var(--blanco);
  font-family:var(--letra);
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
}

.contenedor-cifras .cifras p{
  color: var(--blanco);
  font-family: var(--letra);
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}



 /* FOOTER */



.Footer{

  background-color: var(--azul-opaco);
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  padding: 40px 0px;
}

.FooterContainer{
  margin: 0px;
}



.FooterContainer .contenido{
  color: var(--blanco);
  font-family: var(--letra);
  text-align: center;
  margin: 0px;
}


.FooterContainer .contenido h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.FooterContainer .contenido h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.FooterContainer .contenido h4 {
  font-size: 1.1rem;
  font-weight: 200;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}

.FooterContainer .contenido p {
  font-size: 1rem;
  font-weight: 200;
  background-color: var(--azul);
  padding: 20px;
  margin: 0px;
}



@media screen and (min-width: 3840px) and (min-height: 1600px) {

  body::-webkit-scrollbar{
    width: 20px;
}  
nav.scroll .navbarDigital{
    width: 500px;    
}
nav.scroll .navbarCcs{
    width: 300px;  
}
.navbar {
    padding: 50px;
}
.navbarDigital1{
  width: 500px; 
}
.navbarCcs1{
    width: 300px;
}
nav.scroll .pdf{
  padding: 10px;
  font-size: 3rem;
  gap: 15px;
}
.pdf ion-icon{
  font-size: 3.1rem;
}

/* INICIO */
.inicio{
  padding: 450px  0px;
}
.inicioCaja{
  transform: scale(1.6);
  z-index: 1;
}
.form .group select option,
.form .group-full select option  {
  font-size: 2rem;
}

.politica input[type=checkbox] {
  width: 100px;
  height: 100px;
}
.politica p{
  font-size: 1.2rem;
}

/* SECCION1  */

.Seccion1 {
  padding:200px 0px 0px 0px ;
  clip-path: ellipse(130% 100% at 50% 100%);
  transform: translateY(-80px);
}
.Seccion1Centro{
  padding-bottom: 100px;
  width: 100%;
  transform: scale(1.4);
}


  /* SECCION3 */
  .Seccion3{
    margin: 10px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  } 
  .Seccion3 .Seccion3Txt{
    gap: 10px;
    padding: 20px 200px;
  }
  .Seccion3 .Seccion3Txt h3{
    font-size: 2rem;
  }
  .Seccion3 .Seccion3Txt h3 img{
  width: 50px;
  margin: auto 15px;
  }
  .Seccion3 .Seccion3Txt h1{
    font-size: 4rem;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
  }
  .Seccion3 .Seccion3Txt p{
    font-size: 2.5rem;
  }
  .Seccion3 .Seccion3Img{
    height: 800px;
    margin: 80px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 250px auto ;
    padding: 30px 0px;
    width: 100%;
    transform: scale(1.8);
  }
  .seccion4Centro{
    padding: 10px;
  }
  .seccion4Txt h1 { 
    font-size: 2rem;
  }
  .seccion4Txt p {
    font-size: 1.2rem;
  }
  .seccion4ImgCaja{
    padding: 20px;
    gap: 10px;
    
  }
  .seccion4ImgCaja h2{
    font-size: 1.1rem;
  }
  .seccion4ImgCaja p{
    font-size: 0.9rem;
  }
  .seccion4ImgCaja  li{
    font-size: 0.8rem;
  }
  .seccion4Img{
    margin: 10px auto;
  }
  .seccion4Img .img{
    height: 120px;
  }
/* SECCION5 */

.Seccion5{
  margin: 30px auto;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
}
.Seccion5 .Seccion5Txt{
  gap:10px;
  padding: 30px 50px;
}
.Seccion5 .Seccion5Txt h3{
  font-size: 2rem;
}
.Seccion5 .Seccion5Txt h3 img{
  width: 50px;
  margin: auto 15px;
}
.Seccion5 .Seccion5Txt ul {
  font-size: 2rem;
}
.Seccion5 .Seccion5Txt ul li{
  margin: 3px auto;
}
.Seccion5Txt .caja ul{
  padding: 10px 30px;
  font-size: 1,8rem;
}
.Seccion5 .Seccion5Img{
  height: 800px;
  margin: 80px auto;
  box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
}
.Seccion5Tit h1{
  font-size: 4rem;
}

/* RUTA */
.ruta {
  margin: 100px auto;
  width: 80%;
}
.ruta h1 {
  font-size: 4rem;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}
.rutacentro{
  padding: 10px;
}
.padin{
  padding: 20px;
}
.barra {
  height: 20px;
  display: block;
}
.barra1 {
  width: 5px;
  display: none;
}
.modulo{
  padding: 7px;
  border-radius: 5px;
}
.modulo h3{
  font-size: 2.5rem;
}
.modulo h3 ion-icon{
  font-size: 3rem;
}
.padin .completado p{
  font-size: 2rem;
}
.informacion{
  padding: 10px;
  gap: 50px;
}
.informacion .info{
  gap: 20px;
}
.informacion .info ion-icon{
  padding: 40px;
  font-size: 8rem;
} 
.informacion .info h2{
  font-size: 2.5rem;
}

/* INSTRUCTORES */

.instructores{
  margin: 100px auto ;
  padding: 10px;
}
.cajaInstru{
  padding: 20px;
}
.cajaInstru .imagenes{
  padding: 20px;
  height: 700px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.363);
}
.cajaInstru .imagenes h2{
  font-size: 3rem;
}
.cajaInstru .imagenes p{
  font-size: 2.5rem;
}
.instil {
  margin: 10px auto;
}
.instil h2{
  font-size: 4rem;
}

/* EXPERIENCIA */

.experiencia{
  margin: 100px auto 0px auto;
  clip-path: ellipse(100% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 150px 0px;
  transform: translateY(20px);
  
}
.xpcentro{
  width: 100%;
}
.contenedor-cifras .cifras h2{
  font-size: 4rem;
}
.contenedor-cifras .cifras p{
  font-size: 2.5rem;
}

 /* FOOTER */
.Footer{
  padding: 100px 0px;
  
}
.FooterContainer {
  width: 100%;
}
.FooterContainer .contenido h2 {
  font-size: 2.4rem;
}
.FooterContainer .contenido h3 {
  font-size: 2.3rem;
}
.FooterContainer .contenido h4 {
  font-size: 2.1rem;
  padding-bottom: 5px;
}
.FooterContainer .contenido p {
  font-size: 2rem;
  padding: 10px;

}



}

@media screen and (min-width: 1280px) and (max-width:1650px) {

body::-webkit-scrollbar{
    width: 10px;
}  
nav.scroll .navbarDigital{
    width: 200px;    
}
nav.scroll .navbarCcs{
    width: 110px;  
}
.navbar {
    padding: 10px;
}
.navbarDigital1{
    width: 200px;
}
.navbarCcs1{
    width: 110px;
}
nav.scroll .pdf{
  padding: 5px;
  font-size: 0.8rem;
  gap: 5px;
}
.pdf ion-icon{
  font-size: 1.2rem;
}

/* INICIO */
.inicio{
  padding: 140px  0px;
}

/* FORMULARIO */
.inicioCajaForm{
  padding: 10px;
}
.inicioCaja{
  width: 70%;
}
.card {
  padding: 15px;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.form {
  margin-top: 10px; 
  gap: 3px;
}
.form .group label,
.form .group-full label {
  font-size: 0.6rem;
  top: -7px;
  left: 6px;
}
.form .group input,
.form .group select,
.form .group-full input,
.form .group-full select {
  padding: 8px;
  font-size: 0.8rem;
}
.form .group input:placeholder-shown+ label, .form .group select:placeholder-shown +label,
.form .group-full input:placeholder-shown+ label, .form .group-full select:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}
.form .group input:focus,
.form .group select:focus,
.form .group-full input:focus,
.form .group-full select:focus  {
  border-color: var(--azul);
  outline: none;
}
.form .group select option,
.form .group-full select option  {
  font-size: 0.8rem;
}
.form .group input:focus+ label, .form .group select:focus +label,
.form .group-full input:focus+ label, .form .group-full select:focus +label  {
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.7rem;
}
.form button {
  font-size: 0.8rem;
}
.politica{
  gap: 10px;
}
.politica input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.politica p{
  font-size: 0.7rem;
}

/* INICIOTXT */

  .inicioCajaTxt{
    padding: 10px;
  }
  .inicioCajaTxt h4{
    font-size: 0.7rem;
    padding: 5px; 
  }
  .inicioCajaTxt h2{
    font-size: 2rem;
  }
  .inicioCajaTxt p{
    font-size: 1.1rem;
  }
  .inicioCajaTxt .redes{
    gap: 20px;
  }
  .inicioCajaTxt a ion-icon{
    font-size: 2rem;
  }

  /* SECCION1 */

  .Seccion1 {
    padding:30px 0px 0px 0px ;
    clip-path: ellipse(100% 100% at 50% 100%);
    transform: translateY(-60px);
  }
  .Seccion1Centro{
    padding-bottom: 10px;
    width: 70%;
  }
  .Seccion1Txt{
    margin: 10px auto;
  }
  .Seccion1Txt p{
    font-size: 0.7rem;
  }
  .Seccion1Txt h2{
    font-size: 1.5rem;
  }
  .Seccion1Caja{
    padding: 10px;
    margin: 10px auto 0px auto;
  }
  .Seccion1Caja .caja{
    padding:5px;
  }
  .Seccion1Caja .caja ion-icon{
    font-size: 1.1rem;
  }
  .Seccion1Caja .caja h3{
    font-size: 1.2rem;
  }
  .Seccion1Caja .caja p{
    font-size: 0.8rem;
  }
  .Seccion1Caja .caja h5{
    font-size: 1.1rem;
  }

  /* SECCION3 */
  .Seccion3{
    margin: 10px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  } 
  .Seccion3 .Seccion3Txt{
    gap: 10px;
    padding: 20px 50px;
  }
  .Seccion3 .Seccion3Txt h3{
    font-size: 0.8rem;
  }
  .Seccion3 .Seccion3Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion3 .Seccion3Txt h1{
    font-size: 2rem;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
  }
  .Seccion3 .Seccion3Txt p{
    font-size: 1rem;
  }
  .Seccion3 .Seccion3Img{
    height: 400px;
    margin: 20px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 30px auto ;
    padding: 30px 0px;
    width: 70%;
  }
  .seccion4Centro{
    padding: 10px;
  }
  .seccion4Txt h1 { 
    font-size: 1.5rem;
  }
  .seccion4Txt p {
    font-size: 1rem;
  }
  .seccion4ImgCaja{
    padding: 20px;
    gap: 10px;
  }
  .seccion4ImgCaja h2{
    font-size: 1rem;
  }
  .seccion4ImgCaja p{
    font-size: 0.8rem;
  }
  .seccion4ImgCaja  li{
    font-size: 0.8rem;
  }
  .seccion4Img{
    margin: 10px auto;
  }
  .seccion4Img .img{
    height: 100px;
  }

  /* SECCION5 */

  .Seccion5{
    margin: 30px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  }
  .Seccion5 .Seccion5Txt{
    gap:10px;
    padding: 30px 50px;
  }
  .Seccion5 .Seccion5Txt h3{
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion5 .Seccion5Txt ul {
    font-size: 1rem;
  }
  .Seccion5 .Seccion5Txt ul li{
    margin: 3px auto;
  }
  .Seccion5Txt .caja ul{
    padding: 10px 30px;
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Img{
    height: 400px;
    margin: 20px auto;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
  }
  .Seccion5Tit h1{
    font-size: 2rem;
  }
  
  /* RUTA */
.ruta {
  margin: 40px auto;
  width: 80%;
}
.ruta h1 {
  font-size: 2rem;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}
.rutacentro{
  padding: 10px;
}
.padin{
  padding: 5px;
}
.barra {
  height: 5px;
  display: block;
}
.barra1 {
  width: 5px;
  display: none;
}
.modulo{
  padding: 7px;
  border-radius: 5px;
}
.modulo h3{
  font-size: 0.9rem;
}
.modulo h3 ion-icon{
  font-size: 1.3rem;
}
.padin .completado p{
  font-size: 0.7rem;
}
.informacion{
  padding: 10px;
  gap: 60px;
}
.informacion .info{
  gap: 10px;
}
.informacion .info ion-icon{
  padding: 10px;
  font-size: 2.8rem;
} 
.informacion .info h2{
  font-size: 1.1rem;
}

/* INSTRUCTORES */

.instructores{
  margin: 50px auto ;
  padding: 10px;
}
.cajaInstru{
  padding: 20px;
}
.cajaInstru .imagenes{
  padding: 20px;
  height: 250px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.363);
}
.cajaInstru .imagenes h2{
  font-size: 1rem;
}
.cajaInstru .imagenes p{
  font-size: 0.8rem;
}
.instil {
  margin: 10px auto;
}
.instil h2{
  font-size: 2rem;
}

/* EXPERIENCIA */

.experiencia{
  margin: 60px auto 0px auto;
  clip-path: ellipse(100% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 70px 0px;
  
}
.xpcentro{
  width: 70%;
}
.contenedor-cifras .cifras h2{
  font-size: 2.4rem;
}
.contenedor-cifras .cifras p{
  font-size: 1rem;
}

 /* FOOTER */
.Footer{
  padding: 30px 0px;
  
}
.FooterContainer {
  width: 70%;
}
.FooterContainer .contenido h2 {
  font-size: 1rem;
}
.FooterContainer .contenido h3 {
  font-size: 0.9rem;
}
.FooterContainer .contenido h4 {
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.FooterContainer .contenido p {
  font-size: 0.7rem;
  padding: 10px;

}


 }

 @media screen and (min-width: 650px) and (max-width:990px)  {  
  nav.scroll .navbarDigital{
    width: 140px;    
}
nav.scroll .navbarCcs{
    width: 90px;  
}
.navbar {
    padding: 8px;
}
.navbarDigital1{
    width: 140px;
}
.navbarCcs1{
    width: 90px;
}
nav.scroll .pdf{
  padding: 3px;
  font-size: 0.7rem;
  gap: 3px;
}
.pdf ion-icon{
  font-size: 1rem;
}

/* INICIO */
.inicio{
  padding: 140px  0px;

}

/* FORMULARIO */
.inicioCajaForm{
  padding: 10px;
}
.inicioCaja{
  width: 95%;
}
.card {
  padding: 15px;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.form {
  margin-top: 10px; 
  gap: 3px;
}
.form .group label,
.form .group-full label {
  font-size: 0.7rem;
  top: -7px;
  left: 6px;
}
.form .group input,
.form .group select,
.form .group-full input,
.form .group-full select {
  padding: 8px;
  font-size: 0.8rem;
}
.form .group input:placeholder-shown+ label, .form .group select:placeholder-shown +label,
.form .group-full input:placeholder-shown+ label, .form .group-full select:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}
.form .group input:focus,
.form .group select:focus,
.form .group-full input:focus,
.form .group-full select:focus  {
  border-color: var(--azul);
  outline: none;
}
.form .group select option,
.form .group-full select option  {
  font-size: 0.8rem;
}
.form .group input:focus+ label, .form .group select:focus +label,
.form .group-full input:focus+ label, .form .group-full select:focus +label  {
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.7rem;
}
.form button {
  font-size: 0.8rem;
}
.politica{
  gap: 10px;
}
.politica input[type=checkbox] {
  width: 40px;
  height: 40px;
}
.politica p{
  font-size: 0.9rem;
}

/* INICIOTXT */

  .inicioCajaTxt{
    padding: 20px  10px;
    text-align: center;
  }
  .inicioCajaTxt h4{
    font-size: 0.7rem;
    padding: 5px; 
    margin: auto;
  }
  .inicioCajaTxt h2{
    font-size: 2rem;
  }
  .inicioCajaTxt p{
    font-size: 1.1rem;
  }
  .inicioCajaTxt .redes{
    gap: 20px;
    place-content: center;
  }
  .inicioCajaTxt a ion-icon{
    font-size: 2rem;
  }

  /* SECCION1 */

  .Seccion1 {
    padding:50px 0px 0px 0px ;
    clip-path: ellipse(140% 100% at 50% 100%);
    transform: translateY(-60px);
  }
  .Seccion1Centro{
    padding-bottom: 10px;
    width: 70%;
  }
  .Seccion1Txt{
    margin: 10px auto;
  }
  .Seccion1Txt p{
    font-size: 0.7rem;
  }
  .Seccion1Txt h2{
    font-size: 1.5rem;
  }
  .Seccion1Caja{
    padding: 10px;
    margin: 10px auto 0px auto;
  }
  .Seccion1Caja .caja{
    padding:5px;
  }
  .Seccion1Caja .caja ion-icon{
    font-size: 1.1rem;
  }
  .Seccion1Caja .caja h3{
    font-size: 1.2rem;
  }
  .Seccion1Caja .caja p{
    font-size: 0.8rem;
  }
  .Seccion1Caja .caja h5{
    font-size: 1.1rem;
  }

  /* SECCION3 */
  .Seccion3{
    margin: 10px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  } 
  .Seccion3 .Seccion3Txt{
    gap: 10px;
    padding: 20px 50px;
  }
  .Seccion3 .Seccion3Txt h3{
    font-size: 0.8rem;
  }
  .Seccion3 .Seccion3Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion3 .Seccion3Txt h1{
    font-size: 2rem;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
  }
  .Seccion3 .Seccion3Txt p{
    font-size: 1rem;
  }
  .Seccion3 .Seccion3Img{
    height: 400px;
    margin: 20px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 30px auto ;
    padding: 30px 0px;
    width: 70%;
  }
  .seccion4Centro{
    padding: 10px;
  }
  .seccion4Txt h1 { 
    font-size: 1.5rem;
  }
  .seccion4Txt p {
    font-size: 1rem;
  }
  .seccion4ImgCaja{
    padding: 20px;
    gap: 10px;
  }
  .seccion4ImgCaja h2{
    font-size: 1rem;
  }
  .seccion4ImgCaja p{
    font-size: 0.8rem;
  }
  .seccion4ImgCaja  li{
    font-size: 0.8rem;
  }
  .seccion4Img{
    margin: 10px auto;
  }
  .seccion4Img .img{
    height: 100px;
  }

  /* SECCION5 */

  .Seccion5{
    margin: 30px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  }
  .Seccion5 .Seccion5Txt{
    gap:10px;
    padding: 30px 50px;
  }
  .Seccion5 .Seccion5Txt h3{
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion5 .Seccion5Txt ul {
    font-size: 1rem;
  }
  .Seccion5 .Seccion5Txt ul li{
    margin: 3px auto;
  }
  .Seccion5Txt .caja ul{
    padding: 10px 30px;
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Img{
    height: 400px;
    margin: 20px auto;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
  }
  .Seccion5Tit h1{
    font-size: 2rem;
  }
  
  /* RUTA */
.ruta {
  margin: 40px auto;
  width: 80%;
}
.ruta h1 {
  font-size: 2rem;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}
.rutacentro{
  padding: 10px;
}
.padin{
  padding: 5px;
}
.barra {
  height: 5px;
  display: none;
}
.barra1 {
  width: 5px;
  display: block;
}
.modulo{
  padding: 7px;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}
.modulo h3{
  font-size: 0.9rem;
}
.modulo h3 ion-icon{
  font-size: 1.3rem;
}
.padin .completado p{
  font-size: 0.7rem;
}
.informacion{
  width: 100%;
  padding: 20px;
  gap: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}
.informacion .info{
  gap: 10px;
  width: 30%;
  height: 100%;
}
.informacion .info ion-icon{
  padding: 10px;
  font-size: 2.8rem;
} 
.informacion .info h2{
  font-size: 1.1rem;
}


/* INSTRUCTORES */

.instructores{
  margin: 50px auto ;
  padding: 10px;
}
.cajaInstru{
  padding: 20px;
}
.cajaInstru .imagenes{
  padding: 20px;
  width: 70%;
  margin: auto;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.363);
}

.cajaInstru .imagenes img{
  object-fit: cover;
}

.cajaInstru .imagenes h2{
  font-size: 1rem;
}
.cajaInstru .imagenes p{
  font-size: 0.8rem;
}
.instil {
  margin: 10px auto;
}
.instil h2{
  font-size: 2rem;
}

/* EXPERIENCIA */

.experiencia{
  margin: 60px auto 0px auto;
  clip-path: ellipse(140% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 50px 0px;
  
}
.xpcentro{
  width: 100%;
}

.contenedor-cifras .cifras h2{
  font-size: 2rem;
}
.contenedor-cifras .cifras p{
  font-size: 1rem;
}

 /* FOOTER */
.Footer{
  padding: 20px 0px;
  
}
.FooterContainer {
  width: 90%;
}
.FooterContainer .contenido h2 {
  font-size: 1rem;
}
.FooterContainer .contenido h3 {
  font-size: 0.9rem;
}
.FooterContainer .contenido h4 {
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.FooterContainer .contenido p {
  font-size: 0.7rem;
  padding: 10px;

}


 }

 @media screen and (min-width: 421px) and (max-width:650px)  {  
  nav.scroll .navbarDigital{
    width: 140px;    
}
nav.scroll .navbarCcs{
    width: 90px;  
}
.navbar {
    padding: 8px;
}
.navbarDigital1{
    width: 140px;
}
.navbarCcs1{
    width: 90px;
}
nav.scroll .pdf{
  padding: 3px;
  font-size: 0.7rem;
  gap: 3px;
}
.pdf ion-icon{
  font-size: 1rem;
}

/* INICIO */
.inicio{
  padding: 140px  0px;

}

/* FORMULARIO */
.inicioCajaForm{
  padding: 10px;
}
.inicioCaja{
  width: 95%;
}
.card {
  padding: 15px;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.form {
  margin-top: 10px; 
  gap: 3px;
}
.form .group label,
.form .group-full label {
  font-size: 0.7rem;
  top: -7px;
  left: 6px;
}
.form .group input,
.form .group select,
.form .group-full input,
.form .group-full select {
  padding: 8px;
  font-size: 0.8rem;
}
.form .group input:placeholder-shown+ label, .form .group select:placeholder-shown +label,
.form .group-full input:placeholder-shown+ label, .form .group-full select:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}
.form .group input:focus,
.form .group select:focus,
.form .group-full input:focus,
.form .group-full select:focus  {
  border-color: var(--azul);
  outline: none;
}
.form .group select option,
.form .group-full select option  {
  font-size: 0.8rem;
}
.form .group input:focus+ label, .form .group select:focus +label,
.form .group-full input:focus+ label, .form .group-full select:focus +label  {
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.7rem;
}
.form button {
  font-size: 0.8rem;
}
.politica{
  gap: 10px;
}
.politica input[type=checkbox] {
  width: 40px;
  height: 40px;
}
.politica p{
  font-size: 0.9rem;
}

/* INICIOTXT */

  .inicioCajaTxt{
    padding: 20px  10px;
    text-align: center;
  }
  .inicioCajaTxt h4{
    font-size: 0.7rem;
    padding: 5px; 
    margin: auto;
  }
  .inicioCajaTxt h2{
    font-size: 2rem;
  }
  .inicioCajaTxt p{
    font-size: 1.1rem;
  }
  .inicioCajaTxt .redes{
    gap: 20px;
    place-content: center;
  }
  .inicioCajaTxt a ion-icon{
    font-size: 2rem;
  }

  /* SECCION1 */

  .Seccion1 {
    padding:50px 0px 0px 0px ;
    clip-path: ellipse(140% 100% at 50% 100%);
    transform: translateY(-60px);
  }
  .Seccion1Centro{
    padding-bottom: 10px;
    width: 70%;
  }
  .Seccion1Txt{
    margin: 10px auto;
  }
  .Seccion1Txt p{
    font-size: 0.7rem;
  }
  .Seccion1Txt h2{
    font-size: 1.5rem;
  }
  .Seccion1Caja{
    padding: 10px;
    margin: 10px auto 0px auto;
  }
  .Seccion1Caja .caja{
    padding:5px;
  }
  .Seccion1Caja .caja ion-icon{
    font-size: 1.1rem;
  }
  .Seccion1Caja .caja h3{
    font-size: 1.2rem;
  }
  .Seccion1Caja .caja p{
    font-size: 0.8rem;
  }
  .Seccion1Caja .caja h5{
    font-size: 1.1rem;
  }

  /* SECCION3 */
  .Seccion3{
    margin: 10px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  } 
  .Seccion3 .Seccion3Txt{
    gap: 10px;
    padding: 20px 50px;
  }
  .Seccion3 .Seccion3Txt h3{
    font-size: 0.8rem;
  }
  .Seccion3 .Seccion3Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion3 .Seccion3Txt h1{
    font-size: 2rem;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
  }
  .Seccion3 .Seccion3Txt p{
    font-size: 1rem;
  }
  .Seccion3 .Seccion3Img{
    height: 400px;
    margin: 20px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 30px auto ;
    padding: 30px 0px;
    width: 70%;
  }
  .seccion4Centro{
    padding: 10px;
  }
  .seccion4Txt h1 { 
    font-size: 1.5rem;
  }
  .seccion4Txt p {
    font-size: 1rem;
  }
  .seccion4ImgCaja{
    padding: 20px;
    gap: 10px;
  }
  .seccion4ImgCaja h2{
    font-size: 1rem;
  }
  .seccion4ImgCaja p{
    font-size: 0.8rem;
  }
  .seccion4ImgCaja  li{
    font-size: 0.8rem;
  }
  .seccion4Img{
    margin: 10px auto;
  }
  .seccion4Img .img{
    height: 100px;
  }

  /* SECCION5 */

  .Seccion5{
    margin: 30px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  }
  .Seccion5 .Seccion5Txt{
    gap:10px;
    padding: 30px 50px;
  }
  .Seccion5 .Seccion5Txt h3{
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion5 .Seccion5Txt ul {
    font-size: 1rem;
  }
  .Seccion5 .Seccion5Txt ul li{
    margin: 3px auto;
  }
  .Seccion5Txt .caja ul{
    padding: 10px 30px;
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Img{
    height: 400px;
    margin: 20px auto;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
  }
  .Seccion5Tit h1{
    font-size: 2rem;
  }
  
  /* RUTA */
.ruta {
  margin: 40px auto;
  width: 80%;
}
.ruta h1 {
  font-size: 2rem;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}
.rutacentro{
  padding: 10px;
}
.padin{
  padding: 5px;
}
.barra {
  height: 5px;
  display: none;
}
.barra1 {
  width: 5px;
  display: block;
}
.modulo{
  padding: 7px;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}
.modulo h3{
  font-size: 0.9rem;
}
.modulo h3 ion-icon{
  font-size: 1.3rem;
}
.padin .completado p{
  font-size: 0.7rem;
}
.informacion{
  width: 100%;
  padding: 20px;
  gap: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
}
.informacion .info{
  gap: 10px;
  width: 30%;
  height: 100%;
}
.informacion .info ion-icon{
  padding: 10px;
  font-size: 2.8rem;
} 
.informacion .info h2{
  font-size: 1.1rem;
}


/* INSTRUCTORES */

.instructores{
  margin: 50px auto ;
  padding: 10px;
}
.cajaInstru{
  padding: 20px;
}
.cajaInstru .imagenes{
  padding: 20px;
  height: 250px ;
  width: 80%;
  margin: auto;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.363);
}

.cajaInstru .imagenes img{
  object-fit: cover;
}

.cajaInstru .imagenes h2{
  font-size: 1rem;
}
.cajaInstru .imagenes p{
  font-size: 0.8rem;
}
.instil {
  margin: 10px auto;
}
.instil h2{
  font-size: 2rem;
}

/* EXPERIENCIA */

.experiencia{
  margin: 60px auto 0px auto;
  clip-path: ellipse(140% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 50px 0px;
  
}
.xpcentro{
  width: 100%;
}

.contenedor-cifras .cifras h2{
  font-size: 2rem;
}
.contenedor-cifras .cifras p{
  font-size: 1rem;
}

 /* FOOTER */
.Footer{
  padding: 20px 0px;
  
}
.FooterContainer {
  width: 90%;
}
.FooterContainer .contenido h2 {
  font-size: 1rem;
}
.FooterContainer .contenido h3 {
  font-size: 0.9rem;
}
.FooterContainer .contenido h4 {
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.FooterContainer .contenido p {
  font-size: 0.7rem;
  padding: 10px;

}

 }

 @media screen and (min-width: 320px) and (max-width:420px)  { 
  
  nav.scroll{
    display: flex;
    justify-content: space-between;
    place-content: center;
    place-items: center;
  }
  nav.scroll .navbarDigital{  
    width: 50%;
    margin: auto;
}
nav.scroll .navbarCcs{
    width: 80px;  
}
.navbar {
    padding: 20px 0px;
}
.navbarDigital1{
    width: 150px;
}
.navbarCcs1{
    width: 100px;
}
nav.scroll .pdf{
  padding: 3px;
  font-size: 0.6rem;
  gap: 3px;
}
.pdf ion-icon{
  font-size: 1rem;
}

/* INICIO */
.inicio{
  padding: 140px  0px;

}

/* FORMULARIO */
.inicioCajaForm{
  padding: 10px;
}
.inicioCaja{
  width: 95%;
}
.card {
  padding: 15px;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.form {
  margin-top: 10px; 
  gap: 3px;
}
.form .group label,
.form .group-full label {
  font-size: 0.7rem;
  top: -7px;
  left: 6px;
}
.form .group input,
.form .group select,
.form .group-full input,
.form .group-full select {
  padding: 8px;
  font-size: 0.8rem;
}
.form .group input:placeholder-shown+ label, .form .group select:placeholder-shown +label,
.form .group-full input:placeholder-shown+ label, .form .group-full select:placeholder-shown +label {
  top: 10px;
  background-color: transparent;
}
.form .group input:focus,
.form .group select:focus,
.form .group-full input:focus,
.form .group-full select:focus  {
  border-color: var(--azul);
  outline: none;
}
.form .group select option,
.form .group-full select option  {
  font-size: 0.8rem;
}
.form .group input:focus+ label, .form .group select:focus +label,
.form .group-full input:focus+ label, .form .group-full select:focus +label  {
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 0.7rem;
}
.form button {
  font-size: 0.8rem;
}
.politica{
  gap: 10px;
}
.politica input[type=checkbox] {
  width: 40px;
  height: 40px;
}
.politica p{
  font-size: 0.7rem;
}

/* INICIOTXT */

  .inicioCajaTxt{
    padding: 20px  10px;
    text-align: center;
  }
  .inicioCajaTxt h4{
    font-size: 0.7rem;
    padding: 5px; 
    margin: auto;
  }
  .inicioCajaTxt h2{
    font-size: 2rem;
  }
  .inicioCajaTxt p{
    font-size: 1.1rem;
  }
  .inicioCajaTxt .redes{
    gap: 20px;
    place-content: center;
  }
  .inicioCajaTxt a ion-icon{
    font-size: 2rem;
  }

  /* SECCION1 */

  .Seccion1 {
    padding:50px 0px 0px 0px ;
    clip-path: ellipse(250% 100% at 50% 100%);
    transform: translateY(-60px);
  }
  .Seccion1Centro{
    padding-bottom: 10px;
    width: 90%;
  }
  .Seccion1Txt{
    margin: 10px auto;
  }
  .Seccion1Txt p{
    font-size: 0.9rem;
  }
  .Seccion1Txt h2{
    font-size: 1.5rem;
  }
  .Seccion1Caja{
    padding: 10px;
    margin: 10px auto 0px auto;
  }
  .Seccion1Caja .caja{
    padding:5px;
  }
  .Seccion1Caja .caja ion-icon{
    font-size: 1.1rem;
  }
  .Seccion1Caja .caja h3{
    font-size: 1.2rem;
  }
  .Seccion1Caja .caja p{
    font-size: 0.7rem;
  }
  .Seccion1Caja .caja h5{
    font-size: 0.9rem;
    padding: 10px ;
  }

  /* SECCION3 */
  .Seccion3{
    margin: 10px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  } 
  .Seccion3 .Seccion3Txt{
    gap: 10px;
    padding: 20px 50px;
  }
  .Seccion3 .Seccion3Txt h3{
    font-size: 0.8rem;
  }
  .Seccion3 .Seccion3Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion3 .Seccion3Txt h1{
    font-size: 2rem;
  }
  
  .Seccion3 .Seccion3Txt h1 strong{
    color: var(--blanco);
  }
  .Seccion3 .Seccion3Txt p{
    font-size: 1rem;
  }
  .Seccion3 .Seccion3Img{
    height: 300px;
    margin: 20px auto;
  }

  /* SECCION4 */

  .seccion4 {
    margin: 30px auto ;
    padding: 30px 0px;
    width: 70%;
  }
  .seccion4Centro{
    padding: 10px;
  }
  .seccion4Txt h1 { 
    font-size: 1.5rem;
  }
  .seccion4Txt p {
    font-size: 1rem;
    text-align: justify;
  }
  .seccion4ImgCaja{
    padding: 20px;
    gap: 10px;
  }
  .seccion4ImgCaja h2{
    font-size: 1rem;
  }
  .seccion4ImgCaja p{
    font-size: 0.8rem;
  }
  .seccion4ImgCaja  li{
    font-size: 0.8rem;
  }
  .seccion4Img{
    margin: 10px auto;
  }
  .seccion4Img .img{
    height: 100px;
  }

  /* SECCION5 */

  .Seccion5{
    margin: 30px auto;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.808);
  }
  .Seccion5 .Seccion5Txt{
    gap:10px;
    padding: 30px 20px;
  }
  .Seccion5 .Seccion5Txt h3{
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Txt h3 img{
  width: 25px;
  margin: auto 5px;
  }
  .Seccion5 .Seccion5Txt ul {
    font-size: 1rem;
  }
  .Seccion5 .Seccion5Txt ul li{
    margin: 3px auto;
  }
  .Seccion5Txt .caja ul{
    padding: 10px 30px;
    font-size: 0.8rem;
  }
  .Seccion5 .Seccion5Img{
    height: 300px;
    margin: 20px auto;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.379);
  }
  .Seccion5Tit h1{
    font-size: 2rem;
  }
  
  /* RUTA */
.ruta {
  margin: 40px auto;
  width: 100%;

}
.ruta h1 {
  font-size: 2rem;
  margin: 10px auto;
  padding: 0px 0px 10px 0px;
}
.rutacentro{
  padding: 10px;
}
.padin{
  padding: 5px;
}
.barra {
  height: 5px;
  display: none;
}
.barra1 {
  width: 5px;
  display: block;
}
.modulo{
  padding: 7px;
  border-radius: 5px;
  width: 85%;
  margin: auto;
}
.modulo h3{
  font-size: 0.9rem;
}
.modulo h3 ion-icon{
  font-size: 1.3rem;
}
.padin .completado p{
  font-size: 0.7rem;
}
.informacion{
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px 0px;
}
.informacion .info{
  gap: 5px;
  width: 100%;
  height: 100%;
}
.informacion .info ion-icon{
  padding: 10px;
  font-size: 3rem;
} 
.informacion .info h2{
  font-size: 1.2rem;
}


/* INSTRUCTORES */

.instructores{
  margin: 50px auto ;
  padding: 10px;
}
.cajaInstru{
  padding: 20px;
}
.cajaInstru .imagenes{
  padding: 20px;
  height: 250px ;
  width: 100%;
  margin: auto;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.363);
}

.cajaInstru .imagenes img{
  object-fit: cover;
}

.cajaInstru .imagenes h2{
  font-size: 1rem;
}
.cajaInstru .imagenes p{
  font-size: 0.8rem;
}
.instil {
  margin: 10px auto;
}
.instil h2{
  font-size: 1.5rem;
}

/* EXPERIENCIA */

.experiencia{
  margin: 60px auto 0px auto;
  clip-path: ellipse(200% 100% at 50% 100%);
  background-color: var(--azul-opaco);
  padding: 50px 0px;
  
}
.xpcentro{
  width: 100%;
}

.contenedor-cifras .cifras h2{
  font-size: 2rem;
}
.contenedor-cifras .cifras p{
  font-size: 1rem;
}

 /* FOOTER */
.Footer{
  padding: 20px 0px;
  
}
.FooterContainer {
  width: 90%;
}
.FooterContainer .contenido h2 {
  font-size: 1rem;
}
.FooterContainer .contenido h3 {
  font-size: 0.9rem;
}
.FooterContainer .contenido h4 {
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.FooterContainer .contenido p {
  font-size: 0.7rem;
  padding: 10px;

}

 }

